* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display: none;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
}
html{
    height: 100%;
}
/* navbar */
.nav{
    position: fixed;
    width: 100%;
    z-index: 2;
}


/*loc-bar*/
.loc-bar{
    background-color: white;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.location i{
    color: #FF0000;
    margin-right: 1rem;
}
.loc-btn{
    padding: 0.5rem;
    font-size: 0.75rem;
    margin-left: 1.25rem;
    border-radius: 3rem;
    border: none;
    color:white;
    background-color:#FF0000;
    cursor: pointer;
}
.loc-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*line*/
.line{
    height: 1px;
    background-color: #222831;
    width: 100%;
}
.line2{
    height: 1px;
    background-color: white;
    width: 100%;
}
/*nav-bar*/
.nav-bar {
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 6rem;
}

.nav-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo-img{
    display: flex;
    align-items: center;
    margin-left: 13rem;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    
}

.logo a {
    color: #FF0000;
    margin-right: 1.25rem;
}
ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: black;
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
}

.user-cart {
    display: flex;
    align-items: center;
    margin-right: 12.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #EEEEEE;
    margin-right: 1.25rem;
}

.dropdown i {
    font-size: 1.25rem;
    padding: 0.5rem;
    color: #222831;
}

.btn {
    position: absolute;
    right: 0;
    background-color: #222831;
    width: 7.5rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    z-index: 1;
    display: none;
}

.btn button {
    background-color: #EEEEEE;
    border: none;
    padding: 0.6rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.btn button:hover {
    background-color: grey;
}

.dropdown:hover .btn {
    display: block;
}
.cart{
    position: relative;
}
.cart i {
    font-size: 1.25rem;
    padding: 0.5rem;
    color: #FF0000;
    cursor: pointer;
}
.cart-value{
    background-color: #FF0000;
    color: white;
    position: absolute;
    top: -16px;
    right: -5px;
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Order bar*/
.order-bar{
    margin-top: 9rem;
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.order-par{
    color: white;
    padding-right: 20px;
    font-size: 1.6rem;
    font-weight: bolder
}

/* login signup page */

.cross{
    font-size: 30px;
    margin-left: 34rem;
    margin-top: 2rem;
    cursor: pointer;
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30rem;
    width: 40rem;
    z-index: 1000;
    background-color: #ffffff;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 1.5rem;
    box-shadow: 1px 1px 10px 10px rgb(136, 135, 135);
    opacity: 0;
    pointer-events: none;
    scale: 1.2;
}

.form-container.show{
    opacity: 1;
    pointer-events: all;
    scale: 1;
    transition: ease-in 0.2s;
}

.login-heading{
    color: #FF0000;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}
.phonediv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    width: 50%;
    margin-top: 3rem;
    margin-left: 9rem;
    border-bottom: solid 0.5px black;
}
.phone{
    cursor: pointer;
    height: 2rem;
    width: 70%;
    border: none;
}
.pass-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    width: 50%;
    margin-top: 3rem;
    margin-left: 9rem;
    border-bottom: solid 0.5px black;
}
.password{
    height: 2rem;
    width: 70%;
    border: none;
    cursor: pointer;
}
.forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 2rem;
    margin-left: 7rem;
}
.login-buttonn{
    height: 3rem;
    width: 10rem;
    color: white;
    font-size: 20px;
    display: block;
    margin-top: 2rem;
    margin-left: 14rem;
    background-color: #E4002B;
    border-radius: 0.5rem;
    border: none;
    box-shadow: #db8494e8 1px 1px 2px 2px;
}
.dont-have-account{
    height: 4rem;
    margin-top: 1rem;
    margin-left: 11rem;
}

/* signup */

.form-container2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30rem;
    width: 40rem;
    z-index: 1000;
    background-color: #ffffff;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 1.5rem;
    box-shadow: 1px 1px 10px 10px rgb(136, 135, 135);
    opacity: 0;
    pointer-events: none;
    scale: 1.2;
}
.form-container2.show{
    opacity: 1;
    pointer-events: all;
    scale: 1;
    transition: ease-in 0.2s;

}

.cross2{
    font-size: 30px;
    margin-left: 34rem;
    margin-top: 2rem;
    cursor: pointer;
}
.signup-heading{
    color: #FF0000;
    font-size: 2rem;
    text-align: center;
    margin-top: 0rem;
}
.confirm-pass{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    width: 50%;
    margin-top: 3rem;
    margin-left: 9rem;
    border-bottom: solid 0.5px black;
}
.Signup-buttonn{
    height: 3rem;
    width: 10rem;
    color: white;
    font-size: 20px;
    display: block;
    margin-top: 1.5rem;
    margin-left: 14rem;
    background-color: #E4002B;
    border-radius: 0.5rem;
    border: none;
    box-shadow: #db8494e8 1px 1px 2px 2px;
}
.already-have-account{
    height: 4rem;
    margin-top: 1rem;
    margin-left: 11rem;
}
.log-sign{
    color: rgb(89, 89, 216);
    cursor: pointer;
}


/*scrollable home page image*/

.scrolling{
    height: 22rem;
    width: 100%;
    box-shadow:3px 3px 10px 10px #8d949dd8;
    margin-top: 0.1rem;
}
.pizzascroll{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*categories*/

.heading{
   margin-top: 5rem;
   margin-bottom: 2rem;
   font-size: 30px;
   font-weight: 900;
   text-align: center;
   color: #222831 ;    
}

.categories{
    height: 19rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 4rem;

}
.list{
    height: 20rem;
    width: 18rem;
    border: solid rgba(77, 75, 75, 0.914) 1px;
    box-shadow:1px 1px 5px 5px rgb(181, 177, 177);
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 25px;
    border-radius: 1rem;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    scale: 1; 
    transition: ease-in;
    transition-duration: 0.1s ;
}
.pizza{
    background-image: url(/Arabian/images/pizzaaa.png);
    background-size: cover;
    opacity: 1;
    animation-timing-function: ease;
    animation-name:categA2;
    animation-duration:0.1s;

}
.burger{
    background-image: url(/Arabian/images/burger.png);
    background-size:contain;
    opacity: 1;
    animation-timing-function: ease;
    animation-name:categA2;
    animation-duration:0.1s;
}
.sandwich{
    background-image: url(/Arabian/images/sandubob.png);
    background-size: cover;
    opacity: 1;
    animation-timing-function: ease;
    animation-name:categA2;
    animation-duration:0.1s;
}
.wraps{
    background-image: url(/Arabian/images/wrap.png);
    background-size: cover;
    opacity: 1;
    animation-timing-function: ease;
    animation-name:categA2;
    animation-duration:0.1s;
}
.rolls{
    background-image: url(/Arabian/images/roll.png);
    background-size: contain;
    opacity: 1;
    animation-timing-function: ease;
    animation-name:categA2;
    animation-duration:0.1s;
}
.starters{
    background-image: url(/Arabian/images/starter.png);
    background-size: cover;
    opacity: 1;
    animation-timing-function: ease;
    animation-name:categA2;
    animation-duration:0.1s;

}
.clubsandwich{
    background-image: url(/Arabian/images/shakess.png);
    background-size: cover;
    opacity: 1;
    animation-timing-function: ease;
    animation-name:categA2;
    animation-duration:0.1s;
    
}
.fullmenu{
    background-image: url(/Arabian/images/more.jpg);
    background-size: cover;
    opacity: 1;
    display: flex;
    align-items: center;
}
.fullmenu a{
   color: black;
   text-align: center;
   text-shadow: #bcb9b9;
   font-size: 30px;
   font-weight: bolder;
   
}

.list:hover{
    scale: 1.1;
}


.list h2{
    margin-bottom: -0.4rem;
    color: black;

}


/*Media queries*/

@media (max-width: 1024px) {
    .logo-img {
        margin-left: 5rem;
    }

    .user-cart {
        margin-right: 5rem;
    }

    .nav-bar, .order-bar {
        flex-direction: column;
        padding: 0.5rem;
    }
    .order-btn{
        padding: 0.5rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
}

@media (max-width: 768px){
    .nav-div{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .logo-img{
        justify-content: flex-start;
        margin-left: 0;
    }
    .user-cart{
        justify-content: flex-end;
        margin-right: 0;
    }
    .logo a{
        font-size: 1.5rem;
    }
    .cart i{
        font-size: 1.25rem;
        padding: 0.5rem;
    }
    .dropdown i{
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .nav-div{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .logo-img{
        justify-content: flex-start;
        margin-left: 0;
    }
    .user-cart{
        justify-content: flex-end;
        margin-right: 0;
    }
    li a {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }
}
@media (max-width: 375px){
    li a {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
    }
    .dropdown i{
        font-size: 0.8rem;
    }
    .cart i{
        font-size: 0.8rem;
        padding: 0.5em;
    }
}


/*Scroll-bar*/

.background-scroll{
    background-color: black;
    padding: 2rem 5rem;
}

.scroll-items{
    height: 26rem;
    width: 70rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.6rem;
    flex: none;
    overflow-x:scroll;
}

.square {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    width: 19rem;  /* Adjust as needed */
    height: 24rem; /* Adjust as needed */
    background-color: white; /* Example color, adjust as needed */
    border-radius: 0.5rem; /* Optional for rounded corners */
}
.square-img{
    margin: 0%;
    height:60% ;
    width: 100%;
    background-color:#FF0000;
}
.square-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.square-heading{
    margin-top: 0.7rem;
    margin-left: 1.7rem;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.price-combo{
    font-size: 1.5rem;
    font-family: "Anton SC", sans-serif;
   font-weight: 800;
   font-style: normal;
   margin-left: 6rem;
   margin-top: 0.3rem;
}
.square-button{
    background-color: #FF0000;
    color: white;
    height: 3rem;
    width: 8rem;
    border-radius: 2rem;
    border: none;
    margin-left: 5.2rem;
    margin-top: 0.5rem;
    font-weight: 700;
}
.square-button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}

.scroll-items::-webkit-scrollbar{
    display: none;
}

.scroll-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    
}

#backBtn, #nextBtn{
    width: 3rem;
    cursor: pointer;
    margin: 2.5rem;
}
.quantityButtons{
    height: 3rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5.2rem;
}
.downQ , .upQ{
    padding: 0.5rem;
    margin: 1rem;
    background-color: #FF0000;
    border-radius: 1rem;
}
/*FOOTER*/
.footer{
    margin-top: auto;
    height: 22.5rem;
    background-color: black;
}

.social-media-footer{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media-footer a{
    color: #FF0000;
    padding-left: 2rem;
    margin-top: 2rem;
}
.social-media-footer a:hover{
    color: rgba(229, 222, 222, 0.668);
}
.footer-botton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-botton p{
    color: rgba(229, 222, 222, 0.668);
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.about-sec{
    color: rgba(229, 222, 222, 0.668);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 2rem;
    margin-top: 1rem;
}
.about-sec a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 10rem;
    color: rgba(229, 222, 222, 0.668);

}
.about-sec a:hover{
    text-decoration: underline;
    cursor: pointer;

}
.about-sec button{
    background-color: white;
    border: none;
    border-radius: 2rem;
    color: black;
    padding: 0.5rem;
    width: 12rem;
    font-weight: bold;
    margin-left: 8.5rem;
    margin-top: 2rem;
}
.about-sec button:hover{
    background-color: #FF0000;
    color: black;
    transition-duration: 0.5s;
    cursor: pointer;


}   
.about-sec button i{
    margin-right: 0.5rem;
}